@charset "UTF-8";

/* -- global css code -- */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: #888;
    background-color: #53374b !important;
    font-family: 'Raleway', sans-serif;
}

button:focus, a:focus, input:focus {
    outline: none;
}

.wrap {
    text-align: center;
}
/* --iphone6 design-- */

.mobile {
    width: 270px;
    height: 550px;
    border: 0px solid #444;
    -moz-border-radius: 20px;
    border-radius: 37px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 5px 10px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -moz-animation-name: dropMobile;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dropMobile;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;

    animation-name: dropMobile;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@-moz-keyframes dropMobile {
    from {
        -moz-transform: translate(-50%,-200%);
        -moz-box-shadow: none;
    }
    to {
        -moz-box-shadow: 0px 5px 10px #000;
        -moz-transform: translate(-50%,-50%);
    }
}
@-webkit-keyframes dropMobile {
    from {
        -webkit-transform: translate(-50%,-200%);
        -webkit-box-shadow: none;
    }
    to {
        -webkit-transform: translate(-50%,-50%);
        -webkit-box-shadow: 0px 5px 10px #000;
    }
}
@keyframes dropMobile {
    from {
        transform: translate(-50%,-200%);
        box-shadow: none;
    }
    to {
        transform: translate(-50%,-50%);
        box-shadow: 0px 5px 10px #000;
    }
}


.mobile-head {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 20px;
}

.mobile-head div {
    width: 70px;
    height: 7px;
    background-color: #888;
    border: 2px solid #777;
    border-radius: 4px;
    margin: 0 auto;
}

.mobile-body {
    width: 100%;
    height: 400px;
    padding: 5px;
    background-color: #fff;
    text-align: left;
    background-color: #53374b;
    overflow: hidden;
}

.mobile-footer {
    width: 100%;
    padding: 14px;
}

.mobile-footer div {
    width: 50px;
    height: 50px;
    background-color: #888;
    border: 2px solid #777;
    border-radius: 50%;
    margin: 0 auto;
}

.head {
    position: relative;
    height: 40px;
    background: rgba(255, 255, 255, 0.3);;
    margin: -6px;
    color: #f7d56f;
}

.head .avtar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('/static/images/avtar.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 33%;
    left: 42%;
}

.head .back {
    position: absolute;
    left: 14px;
    top: 10px;
}

.head .menu  {
    position: absolute;
    right: 10px;
    top: 10px;
}

.head .menu a, .head .back a {
    text-decoration: none;
    color: #f7d56f;
}

.history {
    width: 100%;
    margin-top: 13px;
    margin-bottom: 5px;
    padding-top: 10px;
    height: 305px;
    color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
}

.history::-webkit-scrollbar {
    width: 0;
}

history::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

history::-webkit-scrollbar-thumb {
  background-color: #f7d56f;
  outline: 1px solid slategrey;
}

.chunkleft {
    background-color: #f7d56f;
    color: #53374b;
    padding: 6px 10px;
    border-radius: 10px;
    float: left;
    max-width: 87%;
    margin: 3px 0;
    font-size: 0.9em;
    word-wrap: break-word;
    font-family: 'Raleway', sans-serif;
}

.chunkright {
    background-color: #999;
    color: #53374b;
    padding: 6px 10px;
    border-radius: 10px;
    float: right;
    max-width: 87%;
    margin: 3px 0px;
    font-size: 0.8em;
    word-wrap: break-word;
    font-family: 'Raleway', sans-serif;
}

.chunkleft .msg, .chunkright .msg {
    font-size: 0.9em;
}
.chunkleft .time, .chunkright .time {
    font-size: 0.7em;
}

.history small {
    font-size: 0.8em;
}

.control {
    width: 100%;
}

.control input, .control button {
    display: inline-block;
    height: 40px;
}

.control input:focus, .control button {
    outline: none;
}

.control input[type='text'] {
    width: 195px;
    background-color: #fff;
    border-radius: 20px;
    border: 0;
    padding: 5px 15px;
    cursor: none;
}

.control button {
    width: 41px;
    border: 0px;
    border-radius: 50%;
    background-color: #fff;
    color: #f7d56f;
    text-align: center;
}

.control button span { margin-left: -3px; }


/*-----------------------index.html------------------------------*/

.v-center {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 50%);
}

.v-center h1 {
    font-size: 5.5em;
    color: #f7d56f;
}

.v-center button {
    padding: 15px 35px;
    font-size: 1.5em;
    font-weight: normal;
    color: #53374b;
    background-color: #f7d56f;
    border: 0px solid #fff;
    -moz-border-radius: 37px;
    border-radius: 37px;
    box-shadow: #111 0 1px 6px;
    transition: all .2s ease-in-out;
}

.v-center button:hover {
    box-shadow: #111 0 8px 20px;
}
