{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1">
    <link rel="stylesheet" href={% static 'css/global.css' %}>

    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <script src={% static "js/jquery-1.11.3.min.js" %}></script>
    <script src={% static "js/bootstrap.min.js" %}></script>

        <title>Welcome to Gente</title>
    </head>
    <body>
        <div class="wrap">
            <div class="v-center">
                <h1>Gente</h1>
                <button type="button" name="button" onclick="window.location.href='/ai/'">Start Chat</button>
            </div>
        </div>
    </body>
</html>
